body {
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-family: "Dosis", sans-serif;
}

header {
    height: 170px;
    background-image: url('https://t3.ftcdn.net/jpg/02/55/53/44/360_F_255534476_n8JzjZtzOFW5g3TXTLMd6QGVnToi6hqj.jpg');
    background-size: cover;
}

/* typography */

h1, h2{
    margin: 0;
    text-shadow: 0 0 5px black;
    color: whitesmoke;
}

h1, h2, h3, h4, p {
    margin: 0;
}

.p-ingredients {
    font-style: italic;
}

/* layout */

.mobile-container {
    width: 600px;
}

.name-motto {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 30px;
    border-bottom:1px solid grey;
}

.menu-item-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid black;
    margin: auto 0;
}

.menu-item-info {
    display: flex;
    gap: 15px;
}

.menu-item-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.order-info {
    padding: 20px;
    margin: 0 30px;
    text-align: center;
}

.order-info-title {
    padding: 20px 0 40px;
}

.order-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.order-cart-item-name {
    display: flex;
}

.divide-bar{
    border: 1px solid black;
    margin: 20px 0;
}

.hidden {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.pop-up {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 524px;
    height: 524px;
    background-color: white;
    box-shadow: 0 0 150px black;
}


.payment-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 90%;
    width: 90%;
}

.input-form {
    padding: 15px 10px ;
    border-radius: 5px;
    border: 1px solid grey;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.order-message-box {
    margin: 0 30px;
}

.order-message{
    text-align: center;
    padding: 20px 20px;
    font-weight: 700;
    color: #065F46;
    background-color: #D1FAE5;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* buttons */

.add-btn {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid #9CA3AF;
    margin: auto 0;
}

.add-btn:hover{
    background-color: #065F46;
}

.remove-btn {
    background-color: transparent;
    color: #9CA3AF;
    font-size: 10px;
}

.remove-btn:hover {
    color: #BE123C;
}

.submit-btn {
    width: 100%;
    padding: 15px 0;
    margin: 20px 0 0;
    border-radius: 5px;
    font-weight: 900;
    color: whitesmoke;
    background-color: #10B981;
}

.submit-btn:hover {
    background-color: #065F46;
}

.submit-btn, .remove-btn {
    border: none;
}

.pop-up-close-btn {
    position: absolute;
    right: 30px;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0;
}

.pop-up-close-btn:hover {
    background-color: #BE123C;
}